@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
  font-family: 'Ubuntu', sans-serif;
}

.ad{
  display: block;
  display: -webkit-box;
  height: 14px * 1.4 * 3;
  font-size: 14px;
  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa-chevron-left{
  color: #f57c00;
}